body{
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Ultra', serif;
    font-weight: 200;
    background-position: 50%;
    overflow: hidden;
    z-index: 0;
}

#main-canvas {
    margin-left: 325px;
    top: -10%;
    left: -25%;
    position: absolute;
    z-index: 1;
    background-color: #64013E; 
}

 .inputs{
    z-index: 4;
    padding: 0px 30px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: none;
 }

    


.inputs-container{
    position: relative;
    z-index: 3;
    margin: 0;
    width: 375px;
    background: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    background-repeat: no-repeat;
    left: -10px;
    top: -10px;
}


label{
    margin-top: 20px;
}

.links {
    margin-top: 40px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.links a{
    height: 50px; 
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
}
.links a img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    top:30px;

}

button{
    min-height: 50px;
    min-width: 100px;
    z-index: 3;
    margin-top: 20px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Ultra', serif;
    color: black;
    font-size: 18px;
    overflow: hidden;
}

button span, button div {
    background: white;
    border-radius: 5px;
    border: 1px solid black;

}
.polygon{
    margin-top:20px;
}

#clear{
    background-image: url('./button-1.jpg');
    background-size: cover;
}

#mirror{
    background-image: url('./button-3.jpg');
    background-size: 100%;
    background-position-y: 50%; 
}



#background-color, #pen-color{
    margin-top: 5px;
    height: 50px;
    width: 100px;
}
.header-container{
    height: 1000px;
    margin-left: 1000px;
    z-index: 4;
    float: right;
    width: 375px;
    background: #FCB043;
    position: relative;
    right: -10px;
    top: -10px;

}
.header{
    float: right;
    height: 100%;
    width: 92%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    background-repeat: no-repeat;
    padding: 30px 15px 0 0;
    color: black;
}
.header h1{
    text-align: start;
    margin: 15px 0 ;
    padding:0;
    font-size: 55px;
    

}
.header h2{
    text-align: start;
    margin: 220px 0 0 10px;  
    padding:0;
    font-size: 34px;

}


 .header h1,  .header h2, .inputs h1, .welcome .instructions h2 {
 color: #F5ECCF;
 -webkit-text-stroke-width: .1px;
 -webkit-text-stroke-color: #64013E;
 text-shadow:  0px 0px #EB4A2C, -1px 1px #EB4A2C, -2px 2px #EB4A2C, -3px 3px #EB4A2C, -4px 4px #EB4A2C, -5px 5px #EB4A2C, -6px 6px #EB4A2C, -7px 7px #EB4A2C, -8px 8px #EB4A2C, -9px 9px #64013E, -10px 10px #64013E, -11px 11px #64013E, -12px 12px #64013E, -13px 13px #64013E, -14px 14px #64013E, -15px 15px #64013E, -16px 16px #64013E;
}

.welcome {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 110%; 
    z-index: 20;
    background: url('./welcome-background.jpg');
    background-size: cover;
    color: white;
    margin: 0;
    animation: fade 4s forwards;
    animation-delay: 6s;

}
.welcome .header{
    width: 400px;
    height: 400px; 
    writing-mode: horizontal-tb;
    background:none;
    position: relative;
    left: -34%;
    top: 20%;
    animation: rotateShrink 3s, fade 3s forwards; 
    animation-delay: 1.7s;

}
.welcome .instructions{
    width: 400px;
    height: 400px; 
    writing-mode: horizontal-tb;
    background:none;
    position: relative;
    left: 37%;
    top: 28%;
    font-size: 32px;
    color: #64013e;
    opacity: 0;
    animation: appear 4s; 
    animation-delay: 3s ;
}
.welcome .header h1{
    text-align: center;
    margin: 15px 0 ;
    padding:0;
    font-size: 55px;
}

.welcome .header h2{
    text-align: center;
    margin: 15px 0 ;
    padding:0;
    font-size: 55px;
}

.switch {
    margin-top: 0;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #64013E;
  }
  

  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@keyframes rotateShrink {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      opacity: 1;
    }
  
    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, 720deg) scale(0.2);
      transform: rotate3d(0, 0, 1, 720deg) scale(0.2) ;
      opacity: 0;
    }
  }
  @keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      z-index:0;
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


