body{
    text-align: center;
    /* background-image: url('./sand.jpg'); */
    display: flex;
    justify-content: center;
    font-family: 'Ultra', serif;
    font-weight: 200;
    background-position: 50%;
    /* background-repeat: no-repeat;
    background-size: cover; */
    overflow: hidden;
    z-index: 0;



}

canvas {
    /* position: absolute;
    touch-action: none;
    background-color: rgba(228, 200, 153, .9);
    /* padding: 50px; */
    /* border-radius: 3px;
    width: 100%;
    height: 100%;  */
    margin-left: 325px;
    top: -10%;
    left: -25%;
    position: absolute;
    z-index: 1;

    background-color: #64013E;
    /* background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 20%, rgba(246,246,246,0.53) 90%, rgba(237,237,237,0) 100%); */
 

}

 .inputs{
    z-index: 4;
    /* margin-left: 250px; */
    padding: 0px 30px;
    float: left;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    background: none;
 }

    


.inputs-container{
    position: relative;
    z-index: 3;
    margin: 0;
    width: 375px;
    /* border-right: 5px solid black; */
    background: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    background-repeat: no-repeat;
    left: -10px;
    top: -10px;
}


/* .content-container{
    z-index: 3;
    display: flex; 
    align-items: center;
    flex-direction: column;
} */
/* .canvas-container{
    background-image: url(./square-frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;    
    height: 100%;
    width: 100%;
    border-radius: 2px;
    margin: auto;
} */

label{
    margin-top: 20px;
}

.links {
    margin-top: 40px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.links a{
    height: 50px; 
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
}
.links a img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    top:30px;

}
/* .buttons{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
button{
    min-height: 50px;
    min-width: 100px;
    z-index: 3;
    margin-top: 20px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Ultra', serif;
    color: black;
    font-size: 18px;
    overflow: hidden;
}

button span, button div {
    background: white;
    border-radius: 5px;
    border: 1px solid black;

}

#clear{
    background-image: url('./button-1.jpg');
    background-size: cover;
}

#mirror{
    background-image: url('./button-3.jpg');
    background-size: 100%;
    background-position-y: 50%; 
}

#polygon-mode{
    padding: 10px;
    background-image: url('./button-2.jpg');
    background-size: 150%;
}
.header-container{
    height: 1000px;
    margin-left: 1000px;
    z-index: 4;
    float: right;
    width: 375px;
    /* border-left: 5px solid black; */
    background: #FCB043;
    position: relative;
    right: -10px;
    top: -10px;

}
.header{
    float: right;
    height: 100%;
    width: 92%;
    
    /* display: flex;
    justify-content: center; */
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    background-repeat: no-repeat;
    padding: 30px 15px 0 0;
    color: black;
}
.header h1{
    text-align: start;
    margin: 15px 0 ;
    padding:0;
    font-size: 55px;
    

}
.header h2{
    text-align: start;
    margin: 220px 0 0 10px;  
    padding:0;
    font-size: 34px;

}


 .header h1,  .header h2, .inputs h1, .welcome .instructions h2 {
 color: #F5ECCF;
 -webkit-text-stroke-width: .1px;
 -webkit-text-stroke-color: #64013E;
 text-shadow:  0px 0px #EB4A2C, -1px 1px #EB4A2C, -2px 2px #EB4A2C, -3px 3px #EB4A2C, -4px 4px #EB4A2C, -5px 5px #EB4A2C, -6px 6px #EB4A2C, -7px 7px #EB4A2C, -8px 8px #EB4A2C, -9px 9px #64013E, -10px 10px #64013E, -11px 11px #64013E, -12px 12px #64013E, -13px 13px #64013E, -14px 14px #64013E, -15px 15px #64013E, -16px 16px #64013E;
}

.welcome {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 110%; 
    z-index: 20;
    background: url('./welcome-background.jpg');
    background-size: cover;
    color: white;
    margin: 0;
    animation: fade 4s forwards;
    animation-delay: 6s;

}
.welcome .header{
    width: 400px;
    height: 400px; 
    writing-mode: horizontal-tb;
    background:none;
    position: relative;
    left: -34%;
    top: 20%;
    animation: rotateShrink 3s, fade 3s forwards; 
    animation-delay: 3s;

}
.welcome .instructions{
    width: 400px;
    height: 400px; 
    writing-mode: horizontal-tb;
    background:none;
    position: relative;
    left: 37%;
    top: 28%;
    font-size: 32px;
    color: #64013e;
    opacity: 0;
    animation: appear 4s; 
    animation-delay: 3s ;
}
.welcome .header h1{
    text-align: center;
    margin: 15px 0 ;
    padding:0;
    font-size: 55px;
}

.welcome .header h2{
    text-align: center;
    margin: 15px 0 ;
    padding:0;
    font-size: 55px;
}


@keyframes rotateShrink {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      opacity: 1;
    }
  
    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, 720deg) scale(0.2);
      transform: rotate3d(0, 0, 1, 720deg) scale(0.2) ;
      opacity: 0;
    }
  }
  @keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      z-index:0;
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


