body, button {
    font-family: 'Waiting for the Sunrise', cursive;
}
body{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-position: 50%;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    height: 100%;
}

#main-canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #061720;
}

 .inputs{
    z-index: 4;
    padding: 60px 30px 0 30px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: none;
    position: relative;
 }

 .inputs h1{
     font-size: 1.5em;
     margin-bottom: 20px;
 }

#hideable-inputs.show, #open-inputs.show{
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.hide-button{
    border:none;
    height: 50px;
    width:50px;
    font-size: 50px;
}


#divisions::-webkit-inner-spin-button {
    opacity: 1;

  }

#divisions{
    font-weight: 200;
    border: none;
    padding: 10px;
  }
input {
    margin-bottom: 20px;
}

.links {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links{
    margin: 24px 0;
    padding: 0;
    font-size: 40px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.links i {
    color: black;
}
.links i:hover {
    color: white;
}

#git, #site {
    margin-left: 10px;
}
#angellist{
    margin-left: 5px;
}

button{
    min-height: 50px;
    min-width: 100px;
    margin-top: 20px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    overflow: hidden;

}

button, .fa-sliders-h{
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

button:hover, .fa-sliders-h:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);

}


#clear{
    background-color: #061720;
    color: white;
}
button span, button div {
    background: white;
    border-radius: 5px;
    border: 1px solid black;

}
.polygon, .mirror{
    margin-top:20px;
}






#background-color, #pen-color{
    margin-top: 5px;
    height: 50px;
    width: 100px;
}




.welcome {
    position: absolute;
    width: 100%;
    height: 110%; 
    z-index: 20;
    background-color:#061720;
    color: white;
    margin: 0;
    animation: fade 3s forwards;
    animation-delay: 3s;

}
.welcome .header{
    height: 200px;
    top: 200px;
    overflow: visible;
    writing-mode: horizontal-tb;
    background:none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    animation: rotateShrink 1s, fade 1s forwards; 
    animation-delay: 1.5s;

}
.welcome .instructions{
    background:none;
    position: relative;
    left: 0%;
    top: 0%;
    font-size: 50px;
    color: white;
    opacity: 0;
    animation: appear 2s; 
    animation-delay: 2.5s ;
}
.welcome .header h1{
    text-align: center;
    margin: 15px 0 ;
    padding:0;
    font-size: 75px;
}
.welcome .header h2{
    font-size: 50px;
}


.switch {
    margin-top: 0;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #061720;
  }
  

  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @keyframes rotateShrink {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      opacity: 1;
    }
  
    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, 720deg) scale(0.2);
      transform: rotate3d(0, 0, 1, 720deg) scale(0.2) ;
      opacity: 0;
    }
  }
  @keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      z-index:0;
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


